.container3 {
    display: flex;
    flex-direction:column;
    flex-flow: row wrap;
    align-items:center;
    margin: 20px ;
}

.testimonio2 {
    background-color: #48556a;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
}

.imagen2{
    width: 50px;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
    margin: 0 20 0 20; 
    border: 3px solid #ffffff;
}

.usuario1 {
    font-size: 13.5px;
    margin-bottom: 1px;
    color: #ffffff;
}

.contexto4 {
    font-size: 12.5px;
    color: #cfcfcf;
    margin: 0 0 0 0;
    opacity: 50%;
}

.contexto5 {
    font-size: 20px;
    margin: 0 10 0 10;
    color: #ffffff;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.contexto6  {
    font-size: 13.5px;
    line-height: 1.2;
    color: #cfcfcf;
    opacity: 70%;
    padding-left: 10px;
    padding-right: 10px;
}